.albumCreatePage {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 400px;
}