.MainPageLayout {
  height: calc(100vh - 68.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPageWelcome {
  font-family: "RoobertPRO","Helvetica","Arial",sans-serif;
  font-weight: 700;
  display: flex;
  font-size: 48px;
  color: #1976d2;
}
.MusicNoteIcon {
  width: 48px;
  height: 48px;
}